.env
trot/.env
trot/settings,py
node_modules/
db.sqlite3
trot/__pycache__/
trot/auth_app/__pycache__/
trot/auth_app/migrations/0001_initial.py
trot/auth_app/migrations/__pycache__/
trot/web/__pycache__/
trot/web/migrations/__pycache__/